.QuestionBoxAudience{
    border: 5px double #6D2E46;
    margin-left:54%;
    margin-right:2%;
    margin-top:9.2%;
    height:56%;
    font-size:130%;
}

.QuestionBoxPresenter{
    border: 5px double #6D2E46;
    margin-left:45%;
    margin-right:5%;
    margin-top:4.2%;
    height:56%;
    font-size:130%;
}

.present-choice-btn-2{
    font-size: 120%;
    font-family: Raleway;
    line-height: 120%;
    padding: .618em 1em;
    border-radius: 10px 10px 12px 12px;
    box-shadow:
      0px 8px 0px 0px #94585a, /* button thickness */
      0px 0 20px rgba(255,255,255,.2) inset, /* inner glow */
      2px 30px 0px rgba(255,255,255,.1) inset, /* sublte reflection */
      5px 15px 30px -10px #000; /* dark shadow underneath */
    border: 2px solid #94585a;
    cursor: pointer;
    background: #A26769;
    color: #ecf0f1;
    text-shadow: 1px 1px 1px #34495e;
    transform: rotateX(5deg);
    margin: 1% 1%;
    margin-top:.9%;
    width:24%;
    text-align: center;
}

.present-choice-btn-sm{
    font-size: 120%;
    font-family: Raleway;
    line-height: 120%;
    padding: .618em 1em;
    border-radius: 10px 10px 12px 12px;
    box-shadow:
      0px 8px 0px 0px #94585a, /* button thickness */
      0px 0 20px rgba(255,255,255,.2) inset, /* inner glow */
      2px 30px 0px rgba(255,255,255,.1) inset, /* sublte reflection */
      5px 15px 30px -10px #000; /* dark shadow underneath */
    border: 2px solid #94585a;
    cursor: pointer;
    background: #A26769;
    color: #ecf0f1;
    text-shadow: 1px 1px 1px #34495e;
    transform: rotateX(5deg);
    margin: 1% 1%;
    margin-top:1%;
    width:14%;
    text-align: center;
}

#next-q{
    position: absolute;
    top:72%;
    left:44%;
}

#skip-q{
    position: absolute;
    top:72%;
    left:70%;
}

.q-box-explain-presenter{
    margin-top:1%;
}

#question-counter{
    position: relative;
    top:70%;
}

#current-question{
    position: relative;
    top: 20%;
    font-size: 110%;
    font-weight:bolder;
}

#have-q{
    position: absolute;
    top:66%;
    left:63%;
}

#submit-q{
    position: absolute;
    top:62%;
    left:60%;
}

#nvm-q{
    position: absolute;
    top:62%;
    left:76%;
}

.q-bounder{
    margin-top:6%;
}