.MakePresentationMenu{
    position:absolute;
    margin-top:5%;
    margin-left:5%;
    margin-right:5%;
    padding-top:2%;
    height:105%;
    width:88%;
    border:5px solid #6D2E46;
    background-color: #ECE2D0;
}